// core-var.scss

// Set up variables

// Primary Colors
$primary: #008001;
$secondary: #005500;
$highlight: #FFB613;
$danger: #B71234;

// Neutral Colors
$black: #0e0e0e;
$white: #fff;

// Grey Scale Endpoints
$grey-lightest: #fefefe;
$grey-darkest: #333;

// Transparent Variations
$trans-grey: rgba(85, 85, 85, 0.82);
$trans-black: rgba(0, 0, 0, 0.7);

// Custom colours
$dark-violet: #663399;
$light-violet: #F1EEF4;

// Define color map
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'highlight': $highlight,
    'danger': $danger,
    'black': $black,
    'white': $white,
    'grey-lightest': $grey-lightest,
    'grey-darkest': $grey-darkest,
    'trans-grey': $trans-grey,
    'trans-black': $trans-black,
    'dark-violet': $dark-violet,
    'light-violet': $light-violet
);

// Grey Scale Function
@function create-grey-shade($percent) {
  @return mix($grey-darkest, $grey-lightest, $percent);
}

// Variables
$grid-columns: 10;
$directions: (t: top, b: bottom, l: left, r: right);
$spacing-values: (
  0: 0,
  1: 0.5em,
  2: 1em,
  3: 1.5em,
  4: 2em,
  5: 2.5em
);

// Define property shortcuts
$properties: (
  m: margin,
  p: padding
);

// Define direction shortcuts
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

// Composite directions
$composite-directions: (
  x: (l, r),
  y: (t, b)
);

// Container width
$container-width: 1550px;

// Set up breakpoints
$breakpoints: (
    'sm': 320px,	// Small mobile
    'mm': 386px,	// Medium mobile
    'lm': 466px,	// Large mobile
    'st': 562px,	// Small tablet
    'mt': 678px,	// Medium tablet
    'lt': 818px,	// Large tablet
    'sd': 987px,	// Small desktop
    'md': 1191px,	// Medium desktop
    'ld': 1500px	// Large desktop
);

// Set up font sizes
$font-sizes: (
    '3xl': 35px,
    '2xl': 26px,
    'xl': 24px,
    'lg': 18px,
    'md': 16px,
    'sm': 14px,
    'xs': 12px,
    '2xs': 11px,
    '3xs': 10px
);

// Define alignment maps
$alignment-map: (
  tl: (start, left),	// Top left
  tc: (start, center),	// Top center
  tr: (start, right),	// Top right
  ml: (center, left),	// Middle left
  mc: (center, center),	// Middle center
  mr: (center, right),	// Middle right
  bl: (end, left),		// Bottom left
  bc: (end, center),	// Bottom center
  br: (end, right)		// Bottom right
);

// Set up text alignments
$alignments: (left, center, right);

$border-radius: 0.35em;
$small-radius: 4px;
$transition: 0.15s;
$gap: calc(1em + 1vw);